footer {
  @include center(rem(800px)); // Center content within the container
  background: $accentDark;
  padding: rem(20px) rem(25px);
  margin-top: rem(50px);
  margin-bottom: rem(120px);
  @include mainFont(300);
  text-align: center; // Center align text and inline elements

  // Hide all other elements
  .comments,
  p,
  span,
  ul {
    display: none;
  }

  .footer-buttons {
    display: flex;
    justify-content: center; // Center align buttons horizontally
    gap: rem(40px); // Space between buttons

    a {
      display: inline-block;
      text-decoration: none;
      color: #808080; // Default color
      transition: all 0.3s ease;
      
      &:hover {
        color: $themeColor; // Hover color
      }
    }

    .footer-home,
    .footer-contact,
    .footer-linkedin {
      font-size: rem(16px); // Adjust size as needed
      @include size(28, 28); // Adjust size as needed
      display: flex;
      align-items: center;
      justify-content: center;
    }

     .footer-linkedin svg {
      @include size(18, 18); // Ensure LinkedIn SVG is sized correctly
      fill: currentColor; // Inherit color from the parent element
      margin-top: -2px;  
      }
    }
  }

.main-page {
  footer {
    background: $primaryDark;
    border-top: 1px solid lighten($primaryDark, 10%);
    
    p {
      color: $accentDark;
    }
  }
}
